$peach: #E19898;
$purplish: #A2678A;
$navyish: #4D3C77;
$dark-purplish: #3F1D38;

$chelsea-cucumber: $peach;
$body-foreground: $peach;
$header: $purplish;

---
---

@import "{{ site.theme }}";

body {
    font-family: "Comic Sans", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header h1 {
    font-family: "Comic Sans", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Sans", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
